@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowimg {
  --tw-shadow: 0 25px 50px -10px rgb(0 0 0 / 0.4);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


/* example */
/* .blogitem {
   @apply flex ;
} */

@layer components {
    .section {
        @apply mx-auto w-11/12 max-w-7xl;
      }
}